{% extends "base.html" %} {% load staticfiles %}


{% block content %}

<div id="page-index">
  <div class="dashboard-cards">
    <div class="row row-search">
      <h4> Properties (Avg. {{avg}} )</h4>
    </div>


    <div class="row">
      <table>
        <tr>
          <th>Location</th>
          <th>Property Type</th>
          <th>Price</th>
          <th>Sold</th>
        </tr>


        {% for xxx in properties %}


        <tr>
          <td class="center">{{ xxx.area }}</td>
          <td class="center">{{ xxx.property_type}}</td>
          <td class="center">{{xxx.price }}</td>
          <td class="center">{{xxx.sold }}</td>
        </tr>

        {% endfor %}

      </table>
    </div>
    <br><br><br>
    <div class="row">
      <div class="col s4">
         <form action="{% url 'dashboard' %}" method="POST">
           {% csrf_token %}
          <label >Area:</label><br>
          <input type="text" name="area" value="" required ><br>

          <label >Property Type:</label><br>
          <input type="text"  name="property_type" value="" required ><br><br>

          <label >Price:</label><br>
          <input type="number"  min="0"   name="price" value="" required ><br><br>


          <input type="submit" value="Submit">
        </form>

      </div>

    </div>


  </div>
</div>

{% endblock %}
