{% extends "base.html" %} {% load staticfiles %}


{% block content %}

<div id="page-index">
  <div class="dashboard-cards">
    <div class="row row-search">
      <h4> Properties (Avg. {{property_average}})</h4>
    </div>



    <div class="row">
      <table >
        <tr>
          <th>Name</th>
          <th>City</th>
          <th>Price</th>
          <th>Sold</th>
        </tr>


        {% for property in properties %}
        <tr>
          <td class="center">{{property.area}}</td>
          <td class="center">{{property.bedrooms}}</td>
          <td class="center">{{property.bathrooms}}</td>
          <td class="center">{{property.price}}</td>
        </tr>
        {% endfor %}

      </table>
    </div>

  </div>
</div>

{% endblock %}
